//COLORS

$primary-green: #2ff571; // #55c57a;
$primary-light-green: #39fa17; // #7ed56f;
$primary-dark-green: #134736; // #28b485;

$primary-green: #2ff571; // #55c57a;
$primary-light-green2: #39fa1746; // #7ed56f;
$primary-dark-green: #134736; // #28b485;

$darkred: rgb(179, 18, 18);

$secondary-orange-light: #ffb900; //#ffb900;
$secondary-orange-dark: #ff7730; //#ff7730;

$secondary-orange-dark2: #ff783067;

$tertiary-blue-light: #2998ff; //#2998ff;
$tertiary-blue-dark: #5643fa; //#5643fa;

$liteblue: rgb(124, 124, 235);
$darkblue: rgb(4, 4, 99);

$light-purple: rgb(233, 127, 233);
$dark-purple: rgb(141, 16, 89);

$dark-grey: #777;
$dark-grey-2: #999;
$dark-grey-3: #333;
$light-grey-1: #f7f7f7;
$light-grey-2: #eee;

$white: #fff;
$black: #000;

// FONT
$default-font-size: 1.6rem;

// BORDER_RADIUS
$default-border-radius: 3px;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;

$gutter-horizontal: 6rem;