.header {
	height: 85vh;
	background: linear-gradient(to right bottom, rgba($secondary-orange-light, .8), rgba($primary-light-green, .8)), url("/img/header1.jpg");
	background-size: cover;
	background-position: bottom;
	position: relative;

	@supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
		clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
		height: 95vh;
	}

	@media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
	only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
	only screen and (min-width: 125em) {
		background: linear-gradient(to right bottom, rgba($secondary-orange-light, .8), rgba($primary-light-green, .8)), url("/img/header1.jpg");
	}


	@include respond(phone) {
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
		clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
		height: 100vh;
	}


	&__logo-box {
		position: absolute;
		top: 3rem;
		left: 3rem;

		@include respond(phone) {
			top: 1.3rem;
			left: 1.3rem;
		}
	}

	&__logo {
		height: 11rem;

		@include respond(phone) {
			height: 9rem;
		}
	}

	&__text-box {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;

		// @include respond(phone) {
		// 	top: 45%;
		// 	left: 50%;
		// }
	}
}